#!/usr/bin/make -f
# See debhelper(7) (uncomment to enable)
# output every command that modifies files on the build system.
#export DH_VERBOSE = 1


include /usr/share/dpkg/default.mk
#export DH_VERBOSE = 1
export PYBUILD_NAME = ropgadget

override_dh_auto_build:
	dh_auto_build
	ronn -r $(CURDIR)/debian/ropgadget.8.ronn

%:
	dh $@ --with python2,python3 --buildsystem=pybuild

